.charity {
  width: 40%;
  margin-bottom: 30px;
  margin-top: 50px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h6 {
      margin: 0;
      color: #7e88f4;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;

      svg {
        margin-left: 10px;
      }
    }
  }
  .input_wrap {
    width: 100%;

    label {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}
