.head
    display: grid
    grid-template-columns: 0.3fr 1fr 1fr 1fr
    p
        cursor: context-menu
        font-weight: 700
        text-align: center
        word-break: break-word
        overflow-wrap: break-word
.body
    display: grid
    grid-template-columns: 0.3fr 1fr 1fr 1fr
    p
        font-size: 12px
        margin-bottom: 6px
        cursor: context-menu
        text-align: center
        word-break: break-word
        overflow-wrap: break-word
        margin: 0
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden