.head
    display: grid
    grid-template-columns: 0.5fr 1fr 1fr 1fr
    p
        cursor: context-menu
        font-weight: 700
.body
    display: grid
    grid-template-columns: 0.5fr 1fr 1fr 1fr
    p
        cursor: context-menu