.no_appointments
  min-height: calc( 100vh - 100px )

.list 
    margin-top: 10px

    .head
        width: 100%
        background: rgba(126, 136, 244, 0.8)
        display: grid
        grid-template-columns: 1fr 1fr 1.3fr 1fr 1.3fr 1fr 1fr 1fr
        padding: 15px 20px
        border-top-left-radius: 8px
        border-top-right-radius: 8px
        p
            width: 100%
            margin: 0
            color: white
            font-size: 14px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            svg
                margin-left: 20px
                transition: all 0.5s
        .cursor
            cursor: pointer 
        .dull
            svg
                opacity: 0.5

    .item 
        display: grid
        grid-template-columns: 1fr 1fr 1.3fr 1fr 1.3fr 1fr 1fr 1fr
        align-items: center
        width: 100%
        padding: 15px 20px
        cursor: pointer
        background-color: #f9f9f9
        transition: 1s all cubic-bezier(0.215, 0.61, 0.355, 1)
        margin: 10px 0
        &:hover 
        background-color: #efefef
        p
            margin: 0
            color: #000
            font-size: 14px
            font-weight: 400
        .actions
            display: flex
            align-items: center
            justify-content: center
            svg
                font-size: 18px
                cursor: pointer
                transition: all 0.5s
                &:hover
                    opacity: 0.5
                &:nth-child(2)
                    margin: 0 10px
                    
                

@media (max-width: 519px)
    .list
        overflow-x: scroll
        width: 100%
        .head 
            width: fit-content
            grid-template-columns: repeat(8, 200px)
        .item
            grid-template-columns: repeat(8, 200px)
            width: fit-content