.socialLinks
    flex-direction: column
    label
        display: flex
        align-items: center
        margin-top: 12px
        svg
            margin-left: 10px
            color: #7E88F4
    div
        display: flex
        align-items: center
        justify-content: center
        input
            margin-bottom: 5px
        svg
            color: #777
            margin-left: 20px
            font-size: 1.5rem
            cursor: pointer
            transition: 200ms all
            &:hover
                color: #ccc
    .add
        font-size: 2rem
        margin: 10px 0 12px 0
        cursor: pointer
        color: #777
        transition: 200ms all
        &:hover
            color: #ccc
    p
        margin: 10px 0 30px 0
        color: #ccc
        font-style: italic

    .item_div
        padding: 10px 10px 30px!important
        margin-bottom: 20px
        flex-direction: row!important

        select
            width: 30%
            height: 30px
        input
            width: 60%
            height: 30px
            margin: 0 2%
            border: none
            border-bottom: 1px solid
            border-radius: 0
        svg
            width: 4%
            height: auto
            color: #777
            margin-left: 20px
            font-size: 1.5rem
            cursor: pointer
            transition: 200ms all
            &:hover
                color: #ccc
        .delete_btn