.dropdown_btn
  width: 280px
  display: flex !important
  align-items: center !important
  justify-content: space-between !important
  margin: 20px 0 !important

@media (max-width: 519px)
  .dropdown_btn
    width: 100%
    
  