.content
    display: flex
    justify-content: flex-start
    flex-direction: column
    margin-top: 40px
    label
        margin: 10px 0
        font-size: 1rem
        font-weight: 700
        width: 300px
        display: flex
        align-items: center
        justify-content: space-between

        span
            font-weight: 600
            width: 150px
            font-style: italic
            border: 1px solid transparent
            border-radius: 5px
            display: flex
            align-items: center
            padding: 5px 10px
            font-size: 0.9rem
            color: #777

    button
        margin-top: 40px
        height: 40px
        width: 120px
        background: white
        color: #7E88F4
        border: 1px solid #7E88F4
        border-radius: 5px
        cursor: pointer
        text-transform: uppercase
        font-weight: 700
        transition: all 200ms
        &:focus
            outline: none
        &:hover
            background: #7E88F4
            color: white