// Mixins
@mixin flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

// Colors
$black: #303030
$black-2: #5C5C5C
$lavender: #7E88F4
$grey: #838383
$super-grey: #C9C9C9
$blue: #2889F0

// Breakpoints
$breakpointLaptop: 1399px
$breakpointPhone: 519px

.dashboard_wrap
    .back_btn_div
        display: flex
        justify-content: left
        align-items: center
        margin-bottom: 20px
        p
            font-weight: bold
            font-size: 24px
            line-height: 33px
            color: #000000
            margin: 0 0 0 10px

.stats_title
    margin: 0
    font-weight: 700
    font-size: 1.4rem
.clients
    width: 100%
    @include flex
    flex-direction: column
    margin-top: 10px
    border: 1px solid #D9E0E9
    padding: 30px 20px
    border-radius: 5px
    background: rgba(199, 201, 250, 0.2)

    .top
        @include flex
        align-items: flex-end
        justify-content: space-between
        margin-bottom: 16px
        .search_wrap
            width: 100%

@media screen and ( max-width: $breakpointPhone )
    .stats_title
        font-size: 1rem
    