.setting_wrap
  .back_btn_div
    display: flex
    justify-content: left
    align-items: center
    margin-bottom: 20px
    p
      font-weight: bold
      font-size: 24px
      line-height: 33px
      color: #000000
      margin: 0 0 0 10px

.account
    width: 100%
    padding: 24px 0
    border: 1px solid #D9E0E9
    padding: 30px 20px
    border-radius: 5px
    .content
        display: flex
        .account_info
            flex-grow: 1
            button
                border-radius: 5px
                background: #7e88f4
                color: white
                border: none
                outline: none
                color: white
                font-size: 12px
                font-weight: 600
                padding: 12px 24px
                cursor: pointer
                &:focus
                    border: none
                    outline: none

@media screen and ( max-width: 519px )
    .account
        padding: 32px 0
        .content
            flex-direction: column
            .account_info
                button
                    padding: 12px 32px
                
        