.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

.dot_pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #efecfd;
  color: #efecfd;
  box-shadow: 9999px 0 0 -5px #efecfd;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot_pulse::before,
.dot_pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #efecfd;
  color: #efecfd;
}

.dot_pulse::before {
  box-shadow: 9984px 0 0 -5px #efecfd;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot_pulse::after {
  box-shadow: 10014px 0 0 -5px #efecfd;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #efecfd;
  }
  30% {
    box-shadow: 9984px 0 0 2px #efecfd;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #efecfd;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #efecfd;
  }
  30% {
    box-shadow: 9999px 0 0 2px #efecfd;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #efecfd;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #efecfd;
  }
  30% {
    box-shadow: 10014px 0 0 2px #efecfd;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #efecfd;
  }
}
