@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap')

// Mixins
@mixin flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

// Colors
$black: #303030
$black-2: #5C5C5C
$lavender: #7E88F4
$grey: #838383
$super-grey: #C9C9C9
$blue: #2889F0

// Breakpoints
$breakpointLaptop: 1399px
$breakpointPhone: 519px

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif !important

html
  overflow-y: scroll

body
  background: #FFF
  margin: 0
  font-family: 'Open Sans', sans-serif !important
  &::-webkit-scrollbar-track
	  border-radius: 10px
	  background-color: #F5F5F5
      -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3)

  &::-webkit-scrollbar
      width: 14px
      background-color: #F5F5F5

  &::-webkit-scrollbar-thumb
      border-radius: 10px
      background-color: #aaa
      -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3)

.ant-drawer-content-wrapper
  width: 440px !important

.ant-tooltip-inner
  width: 370px !important

.react-datepicker 
  border-radius: 15px !important
  border: none !important
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

  .react-datepicker__navigation
    border: 2.35px solid #90C4B1
    border-top: 0
    border-left: 0
    width: 9px
    height: 9px
    top: 27px

    &--next
      transform: rotate(-45deg)
      right: 15px
    
    &--previous
      transform: rotate(134deg)
      left: 15px
    
  .react-datepicker__header 
    background: none !important
    border: none !important

    .react-datepicker__current-month
      padding: .75rem 0
      font-weight: 600
      text-transform: uppercase
      color: #5c5c5c

  &__day-name
    color: #5c5c5c !important

.rdrCalendarWrapper
  font-size: 10px !important

.rdrDateRangeWrapper
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px
  border-radius: 15px

  .rdrMonthAndYearWrapper
    .rdrNextPrevButton
      background: none

      & > i
        border: 2px solid #5ac19b
        width: 8.5px
        height: 8.5px
        border-left: 0
        border-top: 0
        background: non

    .rdrPprevButton
      & > i
        transform: rotate(136deg)
    .rdrNextButton
      & > i
        transform: rotate(-45deg)

    .rdrMonthAndYearPickers
      text-transform: uppercase
      font-size: 1rem
      font-weight: 600

  .rdrWeekDay
    font-size: 0.75rem !important
    font-weight: 600 !important

  .rdrDayNumber
    & > span
      font-size: 0.9rem !important
      font-weight: 600 !important

.main-wrp
  height: 100vh
  display: flex
  flex-direction: column
  
.page-wrp
  width: 100%
  @include flex
  align-items: stretch
  justify-content: flex-end
  flex-grow: 1
  margin-top: 90px

.wrp-1
  flex-direction: row !important
  align-items: baseline
  
  @media(max-width: 768px)
    flex-direction: column !important

.content-wrp
  width: calc(100% - 17.78%)
  min-height: calc(100vh - 90px)
  background: #FFF
  padding: 16px 64px 0 32px
  @include flex
  flex-direction: column

.full-wrp
  width: calc(100% - 17.78%)
  min-height: calc(100vh - 90px)
  background: #FFF
  @include flex
  flex-direction: column

.home
  &-wrp
    width: calc(100% - 17.78%)
    min-height: calc(100vh - 90px)
    background: #FFF
    @include flex
    flex-direction: column

.react-datepicker-wrapper
  width: 100%

#components-tabs-demo-card-top .code-box-demo 
  padding: 24px
  overflow: hidden
  background: #f5f5f5

.ant-btn:hover
  color: $lavender !important
  border-color: $lavender !important

.ant-btn-primary
    background: $lavender !important
    border-color: $lavender !important
    &:hover
      color: white !important
      opacity: 0.6


            
@media (max-width: $breakpointLaptop)
  .home
    &-wrp
      width: calc(100% - 240px)
      min-height: calc(100vh - 66px)
  .page-wrp
    margin-top: 66px
  .content-wrp
    padding: 0 32px
    width: calc(100% - 240px)
    min-height: calc(100vh - 66px)
    position: relative
  .full-wrp
    padding: 0
    width: calc(100% - 240px)
    min-height: calc(100vh - 66px)


@media (max-width: $breakpointPhone)
  .content-wrp
    width: 100%
    padding: 0 16px
  .full-wrp
    width: 100%
    padding: 0
  .home
    &-wrp
      width: 100%