.invitations__list {
  margin-top: 2rem;
}
.invitation__item {
  background-color: #eae8e9;
  color: #666;
  margin: 0.5rem 0;
  padding: 0.8rem 0.5rem;
  width: 80%;
  font-size: 14px;
  cursor: pointer;
}
.request__list {
  margin-top: 2rem;
}

.request__item {
  background-color: #eae8e9;
  color: #666;
  margin: 0.5rem 0;
  padding: 0.8rem 0.5rem;
  width: 80%;
  font-size: 14px;
  cursor: pointer;
}

.request_single_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr 0.2fr;
  width: 100%;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #f9f9f9 !important;
  transition: 1s all cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 10px 0;
}
.request_single_item:hover {
  background-color: #efefef !important;
}
.request_single_item > p {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.request_drawer_item {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 17px;
  min-height: 129px;
  padding: 24px 11px;
  border: 1px solid #d9e0e9;
  border-left: 5px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.red {
  border-left-color: #fa1317;
}
.blue {
  border-left-color: #7e88f4;
}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  margin-bottom: 8px;
}
.det {
  font-size: 12px;
  line-height: 16px;
  color: #5c5c5c;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.det b {
  font-size: 12px;
  line-height: 16px;
  color: #5c5c5c;
  display: flex;
  align-items: center;
}
.line {
  margin: 0 4px;
  height: 16px;
  width: 1px;
  background: #5c5c5c;
}
.requests_head {
  width: 100%;
  background: rgba(126, 136, 244, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr 0.2fr;
  padding: 15px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.requests_head > p {
  margin: 0;
  color: #000;
  font-size: 14px;
}
